<div class="card" style="width: 15rem;">
    <img [src]="book?.image" width="200" height="200" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title]">{{book?.title}}</h5>
        <!-- <p class="card-text">{{book?.summary}}</p> -->
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Author : {{book?.author}} </li>
            <li class="list-group-item">Price : EUR {{book?.price}}</li>
          </ul>

        <button (click)="addToCart(book!)" class="btn btn-primary">Add to cart</button>
    </div>
</div>