.heading{
    background-color: rgb(41, 187, 245);
    color: black;
    /* font-weight: bold; */
    margin: 10px 0px;
    text-align: center;
    justify-content: center;
}

.sub{
    /* background-color:  skyblue; */
    color: black;
    font-size: 27px;
    margin: 10px 0px;
    
}

.title{
    /* background-color:  skyblue; */
    color: black;
    margin: 10px 0px;
    font-size: 25px;
}

.src{
    height: 5rem;
    width: 5rem;
    /* margin: 5rem; */
}
#new{
    border: 1px solid rgb(6, 7, 7);
    border-radius: 20px;
    margin: 4px 0px;
    text-align: center;
    justify-content: center;
    
}